/*
 * SPDX-License-Identifier: Apache-2.0
 */
#include <zephyr/dt-bindings/pwm/pwm.h>

/ {
    chosen {
        /*
         * shared memory reserved for the inter-processor communication
         */
        zephyr,ipc_shm = &shram; /* FLE:  IPC (Virtio/Vring buffers) */
        zephyr,ipc = &ipc0; /* FLE:  IPC HW mailbox */
    };

    aliases {
        relayctl0 = &relay_ctl0;
        pilotpwm0 = &pilot_pwm0;
    };

    reserved-memory {
        #address-cells = <1>;
        #size-cells = <1>;
        ranges;

        /* FLE:  IPC (Virtio/Vring buffers) Size = 1 Mo */
        /* Linux mcu_m4fss_dma_memory_region */
        shram: memory@9cb00000 {
            compatible = "shared-dma-pool";
            reg = <0x9cb00000 0x100000>;
        };
    };

    /* aaillet test */
    ipc0: ipc {
        compatible = "zephyr,mbox-ipm";
        mboxes = <&mbox0 0>, <&mbox0 1>;
        mbox-names = "tx", "rx";
        status = "okay";
    };

    gpio_relay {
        compatible = "gpio-leds";
        relay_ctl0: relay_ctrl_0 {
            gpios = <&gpio0 14 GPIO_ACTIVE_HIGH>;
            label = "Relay control 0";
        };
    };

    pilotpwm {
		compatible = "pwm-leds";
		status = "okay";
        
		pilot_pwm0: pilot_pwm_0 {
			pwms = <&mcu_timer2_pwm0 0 PWM_HZ(1000) PWM_POLARITY_NORMAL>;
			label = "Pilot PWM";
		};
	};
};

/* Port configuration */
&pinctrl {
    mcu_gpio0_relay_ctl_default: mcu_gpio0_relay_ctl_default {
        pinmux = <K3_PINMUX(0x0038, PIN_OUTPUT, MUX_MODE_7)>;
    };

    pwm0_default: pwm0_default {
        pinmux = <K3_PINMUX(0x003C, PIN_OUTPUT, MUX_MODE_1)>;
    };
};

&gpio0 {
    pinctrl-0 = <&mcu_gpio0_led_default &mcu_gpio0_relay_ctl_default>;
    pinctrl-names = "default";
};

&mcu_timer2_pwm0 {
	status = "okay";
	pinctrl-0 = <&pwm0_default>;
	pinctrl-names = "default";
};

&mbox0 {
    status = "okay";
};
